
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(206, 240, 204);
  height: 150px;
  
  border: solid;
}
.special {
  color: rgb(4, 0, 255);
  font-weight: bold;
}
.Free_Cow {
  text-align: center;
  color: orange;
  line-height: 50px;
  background-color: aqua;
  margin: 0;
}
#cowpasture {
  
}
.Inspiration  {
  text-align: center;

}
header {
  color: red;

}

h1 {
  
}


.Menu {
  display:flex;
  flex-direction: column;
  text-align: center;
  
  
}article {
  padding: 10px;
  margin: 10px;
  background: aqua;