
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  background: rgb(206, 240, 204);
  height: 150px;
  
  border: solid;
}
.navbaritems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  height: 75%;
  padding: 10px;
  margin: 10px;
  background: aqua;
  
  

}
.special {
  color: rgb(4, 0, 255);
  font-weight: bold;
}
.Free_Cow {
  text-align: center;
  color: orange;
  line-height: 50px;
  background-color: aqua;
  margin: 0;
}
#cowpasture {
  
}
.Inspiration  {
  text-align: center;
  ext
}

p {
  font-size: 1.5rem;
  border: solid;
  background-color: yellow;
}
h2 {
  text-align: center;
}
header {
  color: red;
  font-size: 2rem

}

h1 {
  
}


.Menu {
  display:flex;
  flex-direction: column;
  text-align: center;
  
  
